#login-form {
	width:250px;
	margin:50px auto auto;
}
#login-form .form-control {
	margin:5px auto;
}
#login-form .btn {
	text-align:center;
}
#login-form .form-signin-heading {
	font-size:16pt;
	text-align:center;
}
.errors {
	margin: 15px auto;
	padding: 5px;
}
body {
	margin-top:65px !important;
}
.nav-sidebar{
	background-color:#e7e7e7;
}
.nav-sidebar .active{
	background-color:#ddd;
}
.table caption {
	font-size:14pt;
}
.td-edit,.td-delete {
	cursor:pointer;
}
.modal {
	background-color:rgba(0,0,0,0.7);
	opacity: 1;
}
.modal-content{
	margin:10px auto auto auto;
	width:1200px;
}
.sidebar-menu {
	margin-top:30px;
}
.nav-sidebar{
	border-radius:10px;
}
.nav-sidebar a:hover {
	border-radius:10px;
	cursor:pointer;
}
.center-el {
	text-align:center;
}
.bar {
    height: 18px;
    background: green;
}
.cat-thumb-small{
	height: 50px;
}
.cat-tr-shift {
	padding-left:25px !important;
}
.cat-tr-bold{
	font-weight:bold;
}
.center{
	text-align:center;
}