body{
	background-color:#f9f9f9;
	color:#2b2b2b;
	text-align: center;
	font-family: Open Sans;
}
.block-wide {
	display:block;
	width: 100%;
}
.block-wrap {
	display:block;
	margin: auto;
}
.hidden{
	display:none;
}
article{
	margin:90px auto;
}
.lfloat{
	float:left;
}
.rfloat{
	float:right;
}
@media screen and (max-width:320px){
	.block-wrap { 
		min-width:320px;
		width:320px;
		margin:0;	}
}
@media screen and (min-width:321px)and (max-width:640px){
	.block-wrap { 
		min-width:320px;
		width:320px;
			}
}
@media screen and (min-width:641px)and (max-width:960px){
	.block-wrap { 
		min-width:640px;
		width:640px;
			}
}
@media screen and (min-width:961px)and (max-width:1280px){
	.block-wrap { 
		min-width:960px;
		width:960px;
			}
}
@media screen and (min-width:1281px)and (max-width:1600px){
	.block-wrap { 
		min-width:1280px;
		width:1280px;
			}
}
@media screen and (min-width:1601px){
	.block-wrap { 
		min-width:1600px;
		width:1600px;
			}
}
@media screen and (min-width:1921px){
	.block-wrap { 
		min-width:1920px;
		width:1920px;
			}
}
@media screen and (max-width:640px){
	body{
		font-size:9pt;
	}
	h1,.h1{
		font-size:15pt;
	}
	h2,.tags .title,.related .title{
		font-size:13pt;
	}
	h3,.h1-descr{
		font-size:11pt;
	}
	h4,h4,h6{
		font-size:10pt;
	}
}
@media screen and (min-width:641px)and (max-width:1280px){
	body{
		font-size:10pt;
	}
	h1,.h1{
		font-size:20pt;
	}
	h2,.tags .title,.related .title{
		font-size:15pt;
	}
	h3,.h1-descr{
		font-size:13pt;
	}
	h4,h4,h6{
		font-size:11pt;
	}
}
@media screen and (min-width:1281px){
	body{
		font-size:11pt;
	}
	h1,.h1{
		font-size:24pt;
	}
	h2,.tags .title,.related .title{
		font-size:16pt;
	}
	h3,.h1-descr{
		font-size:14pt;
	}
	h4,h4,h6{
		font-size:12pt;
	}
}
.h1 {
	margin: 45px auto 5px;
	text-align:center;
}
.h1-descr {
	margin: 5px auto 15px;
	text-align:center;
}
.hr, .hr-light {
	width:100%;
	height:2px;
	margin: 15px auto 45px;
}
.hr{
	background: url(../images/hr.png) center 0 no-repeat;
}
.hr-light {
	background: url(../images/hr-light.png) center 0 no-repeat;
}
/*************
 *HEADER
 *************/
header{
	background-image:url(../images/header-bg.png);
	background-color:rgba(0,0,0,.77);
	overflow:hidden;
}
#logo{
	display:block;
	width:654px;
	height:225px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-position:-210px -330px;
	transition:transform 0.1s;
}
#logo{
	transform: scale(1.01,1.01);
}
.main-menu-element {
	text-decoration:none;
	font-size:12pt;
	color:#ee0;
}
.main-menu-element:hover {
	color:#ff0;
}
.main-menu-element span {
	text-align:center;
}
@media screen and (min-width:1601px){
	.header-block {
		width:1600px;
		min-width:1600px;
	}
	.main-menu-element {
		margin: 0 2%;
	}
}
@media screen and (min-width:1281px) and (max-width:1600px){
	.header-block {
		width:1280px;
	}
	.main-menu-element {
		margin: 0 0.3%;
	}
}
@media screen and (min-width:1281px){
	.header-block {
		padding-top:1px;
		margin:auto;
	}
	#logo{
		float:left;
		margin-top:-25px;
	}
	.main-menu{
		margin-right:0;
		padding-top:26px;
		background-image:url(../images/black-blck-star.png);
		background-repeat:no-repeat;
		background-position:100% -195px;
	}
	.main-menu>:first-child{
		margin-right:0;
	}
	.main-menu-element {
		float: right;
	}
}
@media screen and (max-width:1280px){
	.header-block {
		margin-top:-50px;
	}
	.main-menu-element {
		display:inline-block;
	}
}
@media screen and (min-width:961px) and (max-width:1280px){
	.main-menu-element {
		margin: 20px 0.2%;
	}
}
@media screen and (min-width:961px){
	.main-menu {
		min-height:148px;
	}
	.main-menu-element {
		width: 148px;
		height:148px;
		background-image: url(../images/icons.png);
		background-repeat: no-repeat;
		overflow:hidden;
		transition: transform 0.1s;
	}
	.main-menu-element:hover {
		background: url(../images/icons.png) no-repeat,url(../images/icons.png) no-repeat;
		transform: scale(1.05,1.05);
	}
	.main-menu-element span {
		display:block;
		width:110px;
		margin:80px auto auto auto;
	}
}
@media screen and (max-width:960px){
	.main-menu{
		margin:15px auto;
	}
	.main-menu-element{
		background-image:none !important;
		margin: 0 15px;
	}
}

.sub-menu-wrap{
	background-image:url(../images/sub-menu-bg.png);
	background-position:50% 50%;
	background-repeat:x-repeat;
	background-size:auto 200px;
	overflow:hidden;
}
.sub-menu {
	display:none;
	overflow:hidden;
	text-align:center;
}
.sub-menu .main-menu-element {
	float:none;
	display:inline-block;
	margin-top:26px;
	margin-bottom:26px;
}

.header-block:after {
	display:block;
	content:"";
	clear:both;
}
.header-hr {
	width:100%;
	height:4px;
	background-image:url(../images/header-hr.png);
	background-size:100% 4px;
	background-repeat:no-repeat;
}

/************
 *SLIDER BLOCK
 ************/
.slider{
	height:600px;
	position:relative;
	overflow:hidden;
	color:#fff;
}
.slider-element{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.animation-frame{
	width:100%;
	height:100%;
	background:50% 50% no-repeat;
	background-size: cover;
}
.txt-element{
	width:100%;
	min-height:110px;
	padding-top: 35px;
	position:absolute;
	left:0px;
	bottom:0px;
	background-color:rgba(0,0,0,0.7);
	font-size: 20pt;
	text-align:center;
}
.button-left, .button-right {
	width: 70px;
	height: 140px;
	border: 1px solid #fff;
	border-radius: 4px;
	position:absolute;
	z-index:10;
	font-size:  24pt;
	cursor:pointer;
}
.button-left:hover, .button-right:hover {
	border-color:#aaa;
	background-color:rgba(0,0,0,0.5);
}
.button-left span, .button-right span{
	display: block;
	margin: 48px 20px;
}
/************
 *CATEGORY BLOCK
 ************/
.subcategories{
	margin:45px auto;
	text-align:center;
}
.subcategories:after{
	display:block;
	content:"";
	clear:both;
}
@media screen and (min-width:961px){
	.subcategories :first-child {
		margin-left:0;
	}
	.subcategories :last-child {
		margin-right:0;
	}
	.subcategory {
		float:left;
		width:20%;
		margin:0 3.3333333333333%;
	}
}
@media screen and (max-width:960px){
	.subcategory{
		margin:15px 0 15px 15px;
	}
	.subcategory .icon {
		float:left;
		margin-top:20px;
	}
	.subcategories .subcategory .title, .subcategory .descr {
		text-align:left;
		margin-left:158px;
	}
	.subcategory .more {
		float:right;
	}
	.subcategory:after{
		display:block;
		content:"";
		clear:both;
	}
}
.subcategory .icon {
	display:block;
	width:148px;
	height:148px;
	background-image:url(../images/icons.png);
	background-repeat: no-repeat;
	margin: auto;
	overflow:hidden;
	cursor:pointer;
	text-shadow:0 0 3px #03a095;
	transition: transform 0.1s;
}
.subcategory:hover .icon {
	background-image:url(../images/icons.png),url(../images/icons.png);
	text-shadow:0 0 0;
	transform: scale(1.05,1.05);
}
.subcategory .icon a {
	display:block;
	width:110px;
	margin:80px auto auto;
	text-align:center;
	color:#fff;
	text-decoration: none;
}
.subcategory:hover .icon a {
	color:#69b4b2;
}
.subcategory .title{
	margin: 10px auto;
	color: #000;
	cursor:pointer;
}
.subcategory .hr{
	margin: 10px auto;
}
@media screen and (max-width:640px){
	.subcategory .hr{
		display:none;
	}
}
.subcategory .descr {
	cursor:pointer;
}
.subcategory .more {
	width:120px;
	margin: 10px auto;
	overflow:hide;
	cursor:pointer;
	color:#aaa;
}
.subcategory .more .arrow {
	float:right;
	width:20px;
	height:20px;
	background-color:#aaa;
	border:1px solid #aaa;
	border-radius:3px;
	color:#e6e6e6;
	font-size: 10pt;
}
.subcategory:hover .more{
	color:#2B2B2B;
}
.subcategory:hover .more .arrow {
	background-color:transparent;
	border:1px solid #2B2B2B;
	color:#2B2B2B;
}

.our-works{
	background:url(../images/bg-our-works.jpg) no-repeat;
	background-size:auto auto;
	overflow: hidden;
	color:#fff;
	text-shadow: 0 0 1px #000;
}
.our-works .block-wrap{
	text-align:justify;
	margin:90px auto;
}
.our-works .icon-wrap {
	display:inline-block;
	border:2px solid #e6e6e6;
	margin:10px auto 10px;
	overflow:hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.our-works .icon {
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	cursor:pointer;
	transition: transform 0.1s;
}
.our-works .icon:hover {
	transform: scale(1.3,1.3);
}
@media screen and (min-width:1281px){
	.our-works .icon-wrap {
		width:340px;
		height:340px;
		border-radius:170px;
	}
	.our-works .icon {
		width:300px;
		height:300px;
		border-radius:150px;
		margin:18px;
	}
}
@media screen and (min-width:961px) and (max-width:1280px){
	.our-works .icon-wrap {
		width:255px;
		height:255px;
		border-radius:127.5px;
	}
	.our-works .icon {
		width:225px;
		height:225px;
		border-radius:112.5px;
		margin:13px;
	}
}
@media screen and (max-width:960px){
	.our-works .icon-wrap {
		width:170px;
		height:170px;
		border-radius:85px;
	}
	.our-works .icon {
		width:150px;
		height:150px;
		border-radius:75px;
		margin:8px;
	}
}
@media screen and (max-width:640px){
	.our-works {
		height:auto;
	}
	.our-works .block-wrap{
		text-align:center;
	}
}
.wide-empry {
	display:inline-block;
	width:100%;
}

.articles {
	margin: 45px auto;
	text-align: center;
	vertical-align: text-top;
}
.articles .article {
	display:inline-block;
	width:300px;
	margin:30px 8px;
	padding:10px;
	vertical-align:text-top;
	color:#999;
	border:2px solid transparent;
	border-radius:10px;
}
.articles .article:hover {
	border:2px solid #ccc;
	background-color:#eee;
}
@media screen and (max-width:640px){
	div.image-wrap .image {
		height:70px;
	}
}
@media screen and (min-width:641px) and (max-width:1280px){
	div.image-wrap .image {
		height:140px;
	}
}
@media screen and (min-width:1281px){
	div.image-wrap .image {
		height:210px;
	}
}
.articles .article a{
	display:block;
	margin:10px auto;
	text-decoration:none;
	color:#000;
}
.article {
	margin:85px auto;
	text-align:left;
	color:#888;
}
@media screen and (max-width:640px){
	.article {
		margin:35px auto;
	}
}
@media screen and (min-width:641px){
	.article {
		margin:75px auto;
	}
}
.article .sign {
	margin:10px auto;
}
.article .image-wrap {
	height:auto;
	overflow:hidden;
}
.article .image {
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
}
@media screen and (max-width:320px){
	.article .image {
		height:70px;
	}
}
@media screen and (min-width:321px) and (max-width:640px){
	.article .image{
		height:140px;
	}
}
@media screen and (min-width:641px) and (max-width:960px){
	.article .image{
		height:210px;
	}
}
@media screen and (min-width:961px) and (max-width:1280px){
	.article .image{
		height:280px;
	}
}
@media screen and (min-width:1281px) and (max-width:1600px){
	.article .image{
		height:350px;
	}
}
@media screen and (min-width:1601px) {
	.article .image{
		height:400px;
	}
}
.article h1.maintitle {
	margin: 40px auto 10px;
	color:#000;
}
.article .hr {
	border-top:1px solid #aaa;
	margin:10px auto;
	background-image:none;
}
.article .txt {
	margin:20px auto 35px;
	line-height:1.5;
	text-indent:15px;
}
.articles .article:hover,.article .rel-article:hover, .prev-article .image:hover{
	cursor:pointer;
}
.articles .article .image,.article .rel-article .image, .prev-article .image{
	transition: transform 0.3s;
}
.articles .article:hover .image,.article .rel-article:hover .image, .prev-article .image:hover {
	transform:scale(1.2,1.2);
}
.tags{
	color:#555;
}
.tags .title{
	display:block;
	margin-bottom:15px;
}
.tags .tag {
	display:inline-block;
	background-color:#ccc;
	border-radius:2px;
	text-decoration:none;
	color:#555;
}
.tags .tag:hover {
	background-color:#bbb;
}
.tags .tag span {
	display:block;
	margin: 3px 13px;
}
@media screen and (max-width:960px){
	.prev-article{
		display:none;
	}
}
@media screen and (min-width:961px){
	.prev-article {
		margin: 40px auto;
		background-color:#eee;
		border:2px solid #ccc;
		border-radius:4px;
		padding:10px;
		overflow:hidden;
	}
	.prev-article .image-wrap {
		float:left;
		width:200px;
		height:200px;
	}
	.prev-article h2,.prev-article .sign,.prev-article .hr,.prev-article .short{
		margin-left:220px;
	}
}
.related {
	margin: 40px auto;
}
.related a {
	text-decoration:none;
}
.related .button {
	float:right;
	width:25px;
	height:25px;
	margin-right:5px;
	background-color:#ccc;
	border:1px solid #888; 
	border-radius:4px;
	padding: 3px 6px;
	font-size:13pt;
}
.related .button:hover {
	background-color:#bbb;
	border:1px solid #777; 
	cursor:pointer;
}
.related .title {
	margin-bottom:15px;
	text-align:left;
	color:#555;
}
.related .title:after {
	display:block;
	content:"";
	clear:both;
}
.related {
	text-align:justify;
}
.related:after {
	display:inline-block;
	content:"";
	width:100%;
}
.rel-article {
	display:inline-block;
	width:23%;
	vertical-align:top;
}
.rel-article h2{
	margin-top:3px;
	padding-top:1px;
	color:#555;
}
@media screen and (max-width:960px) {
	.rel-article h2 {
		display:none;
	}
}
@media screen and (max-width:1600px) {
	.rel-article a h2 {
		font-size:12pt;
	}
}

.go-top{
	display:block;
	clear:both;
	width:42px;
	height:42px;
	margin: 45px auto -3px;
	border-radius:3px;
	background-color:#3d3d3d;
	font-size:20pt;
	color:#aaa;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
	text-indent:0;
}
.go-top:hover{
	color:#eee;
}
.go-top span{
	float:none;
}
footer{
	color:#aaa;
}
.footer-top {
	background-color:#3d3d3d;
	overflow:hidden;
}
footer a {
	color:#bbb;
	cursor:pointer; 
	text-decoration:none;
}
footer a:hover{
	color:#eee;
	text-decoration:underline;
}
.footer-top a{
	display:block;
	margin:5px auto 5px 10px;
}
.footer-top h4 {
	font-weight:bold;
}
.footer-top .block-wrap {
	overflow:hidden;
}
.footer-column {
	margin: 40px auto;
	text-align:left;
}
@media screen and (min-width:961px){
	.footer-column {
		float:left;
		width:30%;
	}
	.works {
		margin-left:5%;
		margin-right:5%;
	}
}
@media screen and (max-width:960px){
	.footer-column {
	}
}
.footer-column .text-list-item{
	display:block;
	margin:5px auto;
}
.footer-top h4 {
	margin-bottom:10px;
}
.footer-bottom {
	overflow:hidden;
	background-color:#252525;
}
.footer-bottom .block-wrap{
	overflow:hidden;
	margin: 25px auto;
}
@media screen and (min-width:641px){
	.footer-bottom .copy {
		text-align:left;
	}
	.footer-menu {
		margin-left:35%;
		text-align:left;
		overflow:hidden;
	}
}
@media screen and (max-width:640px){
	.footer-bottom .copy {
		width:50%;
		text-align:left;
	}
	.footer-menu {
		margin-top:30px;
		text-align:center;
	}
}


/*
 * Products List
 */
.products-list {
	margin: 40px auto;
}
.category-box {
	border-bottom:2px solid #666;
	margin-bottom:20px;
	text-align:left;
}
.category-box-wrap{
	margin-bottom:5px;
	background-position:0% 50%;
	background-repeat:no-repeat;
	background-size:auto 100%;
}
.category-name {
	margin-left:60px;
	color: #86dbd4;
	text-shadow: 0 0 1px #000;
}
.category-title {
	margin-left:60px;
}
@media screen and (min-width:641px) {
	.category-name {
		margin: auto 35% auto 60px;
/*		font-size: 24pt;*/
	}
	.category-title {
		margin: auto 35% auto 60px;
	}
	.category-descr {
		float:right;
		width:35%;
	}
	.category-box:after {
		display:block;
		content:"";
		clear:both;
	}
}
@media screen and (max-width:640px) {
	.category-name {
/*		font-size: 18pt;*/
	}
	.category-descr {
		display:none;
	}
}

.product {
	margin-top:50px;
	margin-bottom:50px;
	text-align:left;
}
.product:after {
	display:block;
	content:"";
	clear:both;
}
.product-img-box {
	width:320px;
	height:320px;
	position:relative;
}
.product-img-box .product-img {
	border:1px solid #000;
	background-position:50%% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	transition: transform 0.1s;
}
.product-img-box .product-img:hover {
	cursor:pointer;
	transform: scale(1.05,1.05);
}
.product-title {
	padding-bottom:5px;
	border-bottom:1px solid #666;
	margin-bottom: 20px;
	color: #86dbd4;
	text-shadow: 0 0 1px #000;
}
@media screen and (min-width:641px) {
	.lshift {
		margin-left:320px;
	}
	.rshift{
		margin-right:320px;
	}
}
.warning-message{
	text-align:center;
}

/*
 * Aliments
 */
.aliment {
	min-width:320px;
	overflow:hidden;
}
.aliment-item {
	float:left;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	position:relative;
	cursor:pointer;
}
.aliment-item .shirma{
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	overflow:hidden;
}
.aliment-item .icon-dark {
	width:160px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
	padding-top:1px;
	background-image:url(../images/aliment-icons.png);
	background-repeat:no-repeat;
	color:#fff;
}
.aliment-item .icon-dark span , .aliment-item .icon-light span{
	display:block;
	width:160px;
	margin-top:85px;
	font-size:9pt;
	text-transform: uppercase;
	text-align:center;
}
.aliment-item .icon-light-box {
	width:230px;
	height:132px;
	margin:0 auto;
	background:url(../images/aliment-hover-top.png) 50% 50% no-repeat;
	background-size:cover;
	overflow:hidden;
	position:absolute;
}
.aliment-item .icon-light {
	width:160px;
	height:80px;
	margin:10px auto auto;
	padding-top:1px;
	background-image:url(../images/aliment-icons.png);
	background-repeat:no-repeat;
	color:#aeb1b5;
}
.aliment-item  .aliment-info {
	width:100%;
	background:url(../images/aliment-hover-bot.png) 50% 0% no-repeat;
	background-size:100% auto;
	position:absolute;
	color:#aeb1b5;
}
.aliment-info .aliment-title {
	margin-top: 17%;
}


.filter {
	padding-top:10px;
	padding-bottom:10px;
	margin:50px auto;
	border-radius:5px;
	overflow:hidden;
	background-color:#e8e8e8;
	text-align:center;
}
.filter-item{
	display:inline-block;
	width:135px;
	margin:10px 30px;
	padding:5px;
	border-radius:5px;
	overflow:hidden;
	color:#666;
	text-decoration:none;
	vertical-align:baseline;
}
.filter-item .amount{
	float:right;
	width:40px;
	height:40px;
	padding-top:10px;
	border-radius:20px;
	background-color:#fff;
}
.filter-item:first-child {
	width:90px;
}
.filter-item:first-child span {
	display:block;
	margin-top: 10px;
}
.filter-item:hover,.filter-item.active{
	color:#666;
	background:#fff;
}
.filter-item:hover .amount,.filter-item.active .amount{
	color:#fff;
	background-color:#045772;
}

.works {
	text-align:center;
	overflow:hidden;
}
.work {
	display:inline-block;
	width:400px;
	margin:40px;
	overflow:hidden;
	vertical-align:baseline;
}
.work-icon-wrap{
	width:360px;
	height:360px;
	border:1px solid #5e5e5d;
	border-radius:180px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.work-icon{
	width:320px;
	height:320px;
	border-radius:160px;
	margin:20px;
	background-position:50% 50%;
	background-size:cover;
	background-repeat:no-repeat;
	transition:transform 0.2s;
   -webkit-transform: translate3d(0, 0, 0);
   cursor:pointer;
}
.work-icon:hover{
	transform:scale(1.2,1.2);
}
.work h2{
	margin-top:10px;
	margin-bottom:5px;
}
.work h4 {
	margin:5px auto;
}
.work .hr{
	margin: auto;
}
.work .more {
	width:120px;
	margin: 10px auto;
	overflow:hide;
	cursor:pointer;
	color:#045772;
}
.work .more .arrow {
	float:right;
	width:20px;
	height:20px;
	background-color:#045772;
	border:1px solid #045772;
	border-radius:3px;
	color:#fff;
	font-size: 10pt;
}
.work:hover .more{
}
.work:hover .more .arrow {
	background-color:transparent;
	color:#045772;
}

.portfolio-icon {
	display:inline-block;
	width:70px;
	height:70px;
	margin:10px;
	background-position:50% 50%;
	background-size:cover;
	cursor:pointer;
}
.portfolio-container{
	width:380px;
}

.article-markup{
}
.article-markup p,.article-markup h1,.article-markup h2,.article-markup h3,.article-markup h4 {
	text-indent:0px;
	margin-top:10px;
	margin-bottom:10px;
}
.article-markup ul {
	list-style: square;
}
.article-markup .lfloat-image{
	float:left;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}